.nombre {
    float: right; 
    width: 75%;
}

section {
    height: 205px ;
    padding: 20px;
    background-color: rgb(149, 149, 228);
}

.imagen{
    float: left;
     height: 200px;
      width: 160px;
}